doctype
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap.min.css')
    link(rel='stylesheet', href='/style.css')
    script(src='jquery.min.js')
    //- script(src='javascripts/bootstrap.min.js')
    script(src='bootstrap.min.js')
    script(src='client.js')
    script(src='/socket.io/socket.io.js')
    //-script(src='bundle.js')
  body!= body
.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href="#") Moderation
      .nav-collapse
        ul.nav
          li.active
            a(href="#") Home
.container
  .hero-unit
    div.row
      div.span10
        h2 Blitzpoll
        div.row
          div.span6
            div#home-team-container 
              h3 Home
              div.dropdown
                a(class="dropdown-toggle" data-toggle="dropdown" href="#") Choose
                  b.caret
                ul(class="dropdown-menu" role="menu" aria-labelledby="dLabel")
                  li.choose-home 
                    a(href="ar-argentina") Argentina
                  li.choose-home 
                    a(href="au-australia") Australio
                  li.choose-home 
                    a(href="ba-bosnia-herzegovina") Bosnia
                  li.choose-home 
                    a(href="be-belgium") Belgium
                  li.choose-home 
                    a(href="br-brazil") Brazil
                  li.choose-home 
                    a(href="ch-switzerland") Switzerland
                  li.choose-home 
                    a(href="ci-cote-d-ivoire") Ivory Coast
                  li.choose-home 
                    a(href="cl-chile") Chile
                  li.choose-home 
                    a(href="cm-cameroon") Cameroon
                  li.choose-home 
                    a(href="co-colombia") Columbia
                  li.choose-home 
                    a(href="de-deutschland") Germany
                  li.choose-home 
                    a(href="dz-algeria") Algeria
                  li.choose-home 
                    a(href="ec-ecuador") Ecuador
                  li.choose-home 
                    a(href="en-england") England
                  li.choose-home 
                    a(href="fr-france") France
                  li.choose-home 
                    a(href="gh-ghana") Ghana
                  li.choose-home 
                    a(href="gr-greece") Greece
                  li.choose-home 
                    a(href="hn-honduras") Honduras
                  li.choose-home 
                    a(href="hr-croatia") Croatia
                  li.choose-home 
                    a(href="ir-iran") Iran
                  li.choose-home 
                    a(href="it-italy") Italy
                  li.choose-home 
                    a(href="jp-japan") Japan
                  li.choose-home 
                    a(href="kr-south-korea") South Korea
                  li.choose-home 
                    a(href="mx-mexico") Mexico
                  li.choose-home 
                    a(href="ng-nigeria") Nigeria
                  li.choose-home 
                    a(href="nl-netherlands") Netherlands
                  li.choose-home 
                    a(href="pt-portugal") Portugal
                  li.choose-home 
                    a(href="ru-russia") Russia
                  li.choose-home 
                    a(href="us-united-states") Usa
                  li.choose-home 
                    a(href="uy-uruguay") Uruguay
          div.span4
            div#away-team-container 
              h3 Away
              div.dropdown
                a(class="dropdown-toggle" data-toggle="dropdown" href="#") Choose
                  b.caret
                ul(class="dropdown-menu" role="menu" aria-labelledby="dLabel")
                  li.choose-away 
                    a(href="ar-argentina") Argentina
                  li.choose-away 
                    a(href="au-australia") Australio
                  li.choose-away 
                    a(href="ba-bosnia-herzegovina") Bosnia
                  li.choose-away 
                    a(href="be-belgium") Belgium
                  li.choose-away 
                    a(href="br-brazil") Brazil
                  li.choose-away 
                    a(href="ch-switzerland") Switzerland
                  li.choose-away 
                    a(href="ci-cote-d-ivoire") Ivory Coast
                  li.choose-away 
                    a(href="cl-chile") Chile
                  li.choose-away 
                    a(href="cm-cameroon") Cameroon
                  li.choose-away 
                    a(href="co-colombia") Columbia
                  li.choose-away 
                    a(href="de-deutschland") Germany
                  li.choose-away 
                    a(href="dz-algeria") Algeria
                  li.choose-away 
                    a(href="ec-ecuador") Ecuador
                  li.choose-away 
                    a(href="en-england") England
                  li.choose-away 
                    a(href="fr-france") France
                  li.choose-away 
                    a(href="gh-ghana") Ghana
                  li.choose-away 
                    a(href="gr-greece") Greece
                  li.choose-away
                    a(href="hn-honduras") Honduras
                  li.choose-away 
                    a(href="hr-croatia") Croatia
                  li.choose-away 
                    a(href="ir-iran") Iran
                  li.choose-away 
                    a(href="it-italy") Italy
                  li.choose-away 
                    a(href="jp-japan") Japan
                  li.choose-away 
                    a(href="kr-south-korea") South Korea
                  li.choose-away 
                    a(href="mx-mexico") Mexico
                  li.choose-away 
                    a(href="ng-nigeria") Nigeria
                  li.choose-away 
                    a(href="nl-netherlands") Netherlands
                  li.choose-away 
                    a(href="pt-portugal") Portugal
                  li.choose-away 
                    a(href="ru-russia") Russia
                  li.choose-away 
                    a(href="us-united-states") Usa
                  li.choose-away 
                    a(href="uy-uruguay") Uruguay
          
        br
        button#sendnewgame.btn.btn-primary Spiel starten
        //- div.accordion#accordion1
        //-   div.accordion-group
        //-     div.accordion-heading
        //-       a.accordion-toggle.collapsed(data-toggle="collapse" 
        //-         data-parent="accordion1" href="#collapseOne") Das Spiel
            //- div#collapseOne.accordion-body.collapse(style="height:0px;")
            //-   div.accordion-inner
            //-     div#newgamesetup.hero-unit
                  //- label Home
                  //- input(type="text" id="home-name")
                  //- label Away
                  //- input(type="text" id="away-name")
                  //- br
                  //- button#sendnewgame.btn.btn-primary Spiel starten
                //- div
                  //- img(src='/files/'+ currentGameId + '/home.png')
                //- div#homeformcontainer
                //-   form(method="POST", action="/file-upload?q=home", enctype="multipart/form-data")
                //-    input(type="file", name="homefile")
                //-    input(type="submit")
                //- br
                //- div
                //- div#awayformcontainer
                //-    //- img(src='/files/'+ currentGameId + '/away.png')
                //-   form(method="POST", action="/file-upload?q=away", enctype="multipart/form-data")
                //-     input(type="file", name="file")
                //-     input(type="submit")
    div#question-main.row
      div.span5 
        div#ready-indicator.alert.alert-success Zur Zeit ist keine Frage aktiv. Ready to moderate.
        div#countdown-indicator.alert.alert-danger Vorsicht! Zur Zeit ist noch die Frage: "
          span(style='margin:0; font-weight:bold;')#active-question
          span " für: 
          span(style='font-weight:bold;')#countdown
          span(style='margin-left:5px;') Sekunden aktiv. Eine neue Frage absenden würde diese in den Hintergrund rücken. 
        form#newquestion-form
          fieldset
            h3 Neue Frage
            div.control-group

              div.controls
                textarea#question
            div.control-group
              label.control-label Antworten (Komma getrennt)
                div.controls
                  input#possible-answers
              label.control-label Zeit (In Sekunden)
                div.controls
                  input#time-frame
            button#sendquestion.btn.btn-primary Senden
      div.span5
        //---------------------
        div.accordion#accordion2
          div.accordion-group
            div.accordion-heading
              a.accordion-toggle.collapsed(data-toggle="collapse" 
                data-parent="accordion2" href="#collapseTwo") Bisherige Fragen
            div#collapseTwo.accordion-body.collapse(style="height:0px;")
              div.accordion-inner
                div#q-container
        //---------------------
        div.accordion#accordion3
          div.accordion-group
            div.accordion-heading
              a.accordion-toggle.collapsed(data-toggle="collapse" 
                data-parent="accordion3" href="#collapseThree") Team Info
            div#collapseThree.accordion-body.collapse(style="height:0px;")
              div.accordion-inner
                div#q-container
                  ul#team-list-info
                    li#team-info-home.team-info
                    li#team-info-away.team-info
                    //- li.choose-home 
                    //-   a(href="ar-argentina") ar
                    //- li.choose-home 
                    //-   a(href="au-australia") au
                    //- li.choose-home 
                    //-   a(href="ba-bosnia-herzegovina") ba
                    //- li.choose-home 
                    //-   a(href="be-belgium") be
                    //- li.choose-home 
                    //-   a(href="br-brazil") br
                    //- li.choose-home 
                    //-   a(href="ch-switzerland") ch
                    //- li.choose-home 
                    //-   a(href="ci-cote-d-ivoire") ci
                    //- li.choose-home 
                    //-   a(href="cl-chile") cl
                    //- li.choose-home 
                    //-   a(href="cm-cameroon") cm
                    //- li.choose-home 
                    //-   a(href="co-colombia") co
                    //- li.choose-home 
                    //-   a(href="de-deutschland") de
                    //- li.choose-home 
                    //-   a(href="dz-algeria") dz
                    //- li.choose-home 
                    //-   a(href="ec-ecuador") ec
                    //- li.choose-home 
                    //-   a(href="en-england") en
                    //- li.choose-home 
                    //-   a(href="fr-france") fr
                    //- li.choose-home 
                    //-   a(href="gh-ghana") gh
                    //- li.choose-home 
                    //-   a(href="gr-greece") gr
                    //- li.choose-home 
                    //-   a(href="hn-honduras") hn
                    //- li.choose-home 
                    //-   a(href="hr-croatia") hr
                    //- li.choose-home 
                    //-   a(href="ir-iran") ir
                    //- li.choose-home 
                    //-   a(href="it-italy") it
                    //- li.choose-home 
                    //-   a(href="jp-japan") jp
                    //- li.choose-home 
                    //-   a(href="kr-south-korea") kr
                    //- li.choose-home 
                    //-   a(href="mx-mexico") mx
                    //- li.choose-home 
                    //-   a(href="ng-nigeria") ng
                    //- li.choose-home 
                    //-   a(href="nl-netherlands") nl
                    //- li.choose-home 
                    //-   a(href="pt-portugal") pt
                    //- li.choose-home 
                    //-   a(href="ru-russia") ru
                    //- li.choose-home 
                    //-   a(href="us-united-states") us
                    //- li.choose-home 
                    //-   a(href="uy-uruguay") uy
                div#team-container




         //- br
         //- div.accordion#accordion
         //-  div.accordion-group
         //-    div.accordion-heading
         //-      a.accordion-toggle(data-toggle="collapse" data-parent="accordion") Bisherige Fragen
         //-    div#collapseOne.accordion-body.collpase.in
         //-      div.accordion.inner
         //-        div=questions

         //-  div.accordion-group
         //-    div.accordion-heading
         //-      a.accordion-toggle(data-toggle="collapse" data-parent="accordion") Aufstellung
         //-    div#collapseTwo.accordion-body.collpase.in
         //-      div.accordion.inner
         //-        img(src="/images/sample.png")

         //-  div.accordion-group
         //-    div.accordion-heading
         //-      a.accordion-toggle(data-toggle="collapse" data-parent="accordion") Ersatzbank
         //-    div#collapseThree.accordion-body.collpase.in
         //-      div.accordion.inner
         //-        div
         //-  div.accordion-group
         //-    div.accordion-heading
         //-      a.accordion-toggle(data-toggle="collapse" data-parent="accordion") Verletze / Gesperrte
         //-    div#collapseFour.accordion-body.collpase.in
         //-      div.accordion.inner
         //-        div

