doctype
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap.min.css')
    link(rel='stylesheet', href='/style.css')
    script(src='jquery.min.js')
    //- script(src='javascripts/bootstrap.min.js')
    script(src='bootstrap.min.js')
    script(src='client.js')
    script(src='/socket.io/socket.io.js')
    //-script(src='bundle.js')
  body!= body
.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href="#") Moderation
      .nav-collapse
        ul.nav
          li.active
            a(href="#") Home
.container
  .hero-unit
    div.row
      div.span5
       
        div#ready-indicator.alert.alert-success Zur Zeit ist keine Frage aktiv. Ready to moderate.
        div#countdown-indicator.alert.alert-danger Vorsicht! Zur Zeit ist noch die Frage: "
          span(style='margin:0; font-weight:bold;')#active-question
          span " für: 
          span(style='font-weight:bold;')#countdown
          span(style='margin-left:5px;') Sekunden aktiv. Eine neue Frage absenden würde diese in den Hintergrund rücken. 
        form#newquestion-form
          fieldset
            h3 Neue Frage
            div.control-group

              div.controls
                textarea#question
            div.control-group
              label.control-label Antworten (Komma getrennt)
                div.controls
                  input#possible-answers
              label.control-label Zeit (In Sekunden)
                div.controls
                  input#time-frame
            button#sendquestion.btn.btn-primary Senden
      div.span5
        //---------------------
        div.accordion#accordion1
          div.accordion-group
            div.accordion-heading
              a.accordion-toggle.collapsed(data-toggle="collapse" 
                data-parent="accordion1" href="#collapseOne") Das Spiel
            div#collapseOne.accordion-body.collapse(style="height:0px;")
              div.accordion-inner
                h3 Home

                form(method="POST", action="/file-upload?q=home", enctype="multipart/form-data")
                 input(type="file", name="file")
                 input(type="submit")
                br
                h3 Away
                form(method="POST", action="/file-upload?q=away", enctype="multipart/form-data")
                 input(type="file", name="file")
                 input(type="submit")
        //---------------------
        div.accordion#accordion2
          div.accordion-group
            div.accordion-heading
              a.accordion-toggle.collapsed(data-toggle="collapse" 
                data-parent="accordion2" href="#collapseTwo") Bisherige Fragen
            div#collapseTwo.accordion-body.collapse(style="height:0px;")
              div.accordion-inner
                div#q-container
        //---------------------
        div.accordion#accordion3
          div.accordion-group
            div.accordion-heading
              a.accordion-toggle.collapsed(data-toggle="collapse" 
                data-parent="accordion3" href="#collapseThree") Team Info
            div#collapseThree.accordion-body.collapse(style="height:0px;")
              div.accordion-inner
                div#q-container
                  ul(style="list-style:none;")
                    li.info-team 
                      a(href="ar-argentina") ar
                    li.info-team 
                      a(href="au-australia") au
                    li.info-team 
                      a(href="be-bosnia-herzegovina") be
                    li.info-team 
                      a(href="be-belgium") be
                    li.info-team 
                      a(href="br-brazil") br
                    li.info-team 
                      a(href="ch-switzerland") ch
                div#team-container




         //- br
         //- div.accordion#accordion
         //-  div.accordion-group
         //-    div.accordion-heading
         //-      a.accordion-toggle(data-toggle="collapse" data-parent="accordion") Bisherige Fragen
         //-    div#collapseOne.accordion-body.collpase.in
         //-      div.accordion.inner
         //-        div=questions

         //-  div.accordion-group
         //-    div.accordion-heading
         //-      a.accordion-toggle(data-toggle="collapse" data-parent="accordion") Aufstellung
         //-    div#collapseTwo.accordion-body.collpase.in
         //-      div.accordion.inner
         //-        img(src="/images/sample.png")

         //-  div.accordion-group
         //-    div.accordion-heading
         //-      a.accordion-toggle(data-toggle="collapse" data-parent="accordion") Ersatzbank
         //-    div#collapseThree.accordion-body.collpase.in
         //-      div.accordion.inner
         //-        div
         //-  div.accordion-group
         //-    div.accordion-heading
         //-      a.accordion-toggle(data-toggle="collapse" data-parent="accordion") Verletze / Gesperrte
         //-    div#collapseFour.accordion-body.collpase.in
         //-      div.accordion.inner
         //-        div

